/* nabar */
.navbar {
    /* supaya ada didepan navbarnya u/ membat degradasi warna */
    position: relative;
    z-index: 1;
}
.navbar-brand{
    font-family: viga;
    font-size: 32px;
}


/* jumbotron */
.jumbotron{
    text-align: center;
    background-image: url(img/alex-knight-192782-unsplash.jpg);
    background-size: cover;
    height: 540px;
    position: relative;
}
.jumbotron .container{
    position: relative;
    z-index: 1;
}
.jumbotron::after{
    content:' ';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0px;

}
.jumbotron .display-4{
    margin-bottom: 30px;
    color: white;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    font-size: 40px;
    margin-bottom: 30px;

}
.jumbotron .display-4 span{
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

/* info panel */

.info-panel {
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200;
}
 
/* workingspace */
.workingspace{
    margin-top :120px;
    text-align: center;

}
.workingspace h3{
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}
.workingspace h3 span{
    font-weight: 500;
}

.workingspace p{
    font-size: 18px;
    font-weight: 200;
    color: #acacac;
    margin: 30px 0;
}
.workingspace img{
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
}

/* testimonial */
.testimonial {
    text-align: center;
    margin-top: 100px;
}
.testimonial h5{
font-weight: 200;
font-style: italic;
font-size: 20px;
}

.testimonial figure img{
    width: 60px;
    opacity: 0.7;
    margin: 25px 10px 5px;
}

.testimonial figure img.utama{
    width: 80px;
    opacity: 1;
    margin-top: 10px;
}
.testimonial figure h5{
    font-size: 15px;
    font-weight: bold;
    font-style:normal;
    color: #1c2c5d
}
.testimonial figure p{
    font-size: 12px;
    color: #acacac;
    margin-top: -10px !important;

}

/* akhir testimonial */


/* utility */
.tombol{
    text-transform: uppercase;
    border-radius: 40px;
    
}

/* footer */
.footer{
margin-top: 100px;
}
.footer p{
    color: #acacac;
    font-size: 18px;
    
}


/* Destop Version */
/* @media (min-width: 992px) untuk mengubah bagian link agar di lihat dimobile menjadi uppercase*/
@media (min-width: 992px) { 
    .navbar-brand,.nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    }
    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;   
       }
/* garis pada navbar-link */
    .nav-link:hover::after{
    content:'';
    display: block;
    border-bottom:3px solid #0B63DC;
    width: 50%;
    margin:auto;    
    padding-bottom: 5px;
    margin-bottom: -8px;
    }
    .jumbotron{
        margin-top: -75px;
        height: 640px; 
    }
    .jumbotron .display-4{
        font-size: 62px;
    }
    .workingspace{
        text-align: left;
    }
    .testimonial h5{
        font-size: 32px;
    }
       
}